@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {background-color: #EBE5C5;}

header{
    color: #FFF;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px 1px #00000080;
    background-image: linear-gradient(#2FA866, #063D1E);
}

header h1{
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

header p{
    margin: auto;
    max-width: 500px;
    font-size: 1.2em;
}

nav{
    padding: 10px;
    background-color: #063D1E;
    box-shadow: 0 7px 6px #00000080;
}

nav li{
    position: relative;
    display: inline-block;
}

nav a{
    color: #FFF;
    padding: 11px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

nav a:hover{
    color: #063D1E;
    border-radius: 7px;
    transition-duration: 500ms;
    background-color: #3DDC84;
}

nav ul ul{
    display: none;
    min-width: 90px;
    position: absolute;
    text-align: center;
    background-color: #333;
}

nav ul li:hover > ul{
    display: block;
}
